.wrapper
    .playerWrapper
        .pageControl
            display: flex
            justify-content: space-between
            width: 90%
            margin: auto
            .pageList
                display: flex
                justify-content: space-evenly
                width: 80%
                p
                    padding: 5px, 9px
                .active
                    color: var(--secondary)