.headerWrapper
    height: 120px
    background: var(--primary)
    display: flex
    position: sticky
    top: 0
    align-items: center
    justify-content: center
    z-index: 100
    box-shadow: 0px 1px 4px 2px

    .typeWrapper
        display: flex
        flex-direction: row
        margin: 15px