.matchupWrapper
    display: grid
    grid-template-columns: 1fr 2fr
    height: 100%

    .listWrapper
        grid-column: 1
        // background: yellow
        border-right: 2px solid black
        text-align: center

        .listRow
            display: grid
            grid-template-columns:1fr 35px 1fr 
            justify-items: center
            font-size: 0.8rem
            &:nth-of-type(odd)
                background: #e2e2e2

            &:hover
                background: var(--hover-green)
        .active
            background: var(--primary-light) !important
    
    .individualWrapper
        grid-column: 2
        display: grid
        grid-template-columns: 1fr 6fr 1fr

        .matchupContainer
            display: none
            grid-template-columns: 2fr 1fr 2fr
            justify-items: center

            .thirdContainer
                display: grid
                grid-template-rows: 1fr repeat(10, 25px)
                width: 100%
                text-align: center
                align-items: center
                padding: 10px 0 0 0
                .topSection
                    display: flex
                    flex-direction: column
                    align-items: center
                    .buttonContainer
                        display: flex
                        height: 35px
                        .tabButtons
                            box-shadow: none
                            border: none
                            color: grey
                            width: 75px
                            // padding: 0 10px
                        .activeTab
                            background: var(--primary)
                            border: 1px solid black
                            box-shadow: inset 0px 0px 3px 0px black
                            color: var(--secondary)
                        .pitchingTab
                            border-radius: 5px 0 0 5px
                        .battingTab
                            border-radius: 0 5px 5px 0
                    .imageWrapper
                        background: grey
                        width: 75px
                        height: 75px
                        display: flex
                        align-items: center
                        justify-content: center
                        border-radius: 50%

                        img
                            width: 75px
                            border-radius: 50%
                p 
                    margin: 0
                    font-size: 0.8rem
                    height: 25px
                    display: flex
                    align-items: center
                    justify-content: center
                    &:nth-of-type(odd)
                        background: #e2e2e2
                        
                
                .statTied
                    color: greens
                //For expanded team 
                .teamWrapper
                    padding: 10px
                    display: flex
                    flex-direction: column
                    align-items: center
                
                h3
                    font-size: 0.8rem
                

        
        .display
            display: grid
        

