.wrapper
    position: fixed
    top: 120px
    left: 0
    width: 100%
    height: calc(100% - 120px)
    background: grey !important
    display: flex
    align-items: center
    justify-content: center

    .innerWrapper
        height: 80%
        width: 80%
        background: var(--background-main)