.rosterWrapper
    // background: #F8F8FF
    height: calc(100% - 10px)
    width: calc(100% - 10px)
    padding: 5px
    
    h3
        text-align: left
        margin: 10px 5px

    table
        width: 100%

        thead
            background: var(--primary-light)
            th
                font-size:0.8rem
                padding: 5px
        tbody
            width: 100%

    .positionSlot
        background: lightgrey
        // display: flex
        // flex-direction: row
        margin: 5px
        padding: 4px
        border-radius: 2px
        text-align: center
        &:hover
            background: var(--hover-green)

        td
            margin: 0
            font-size:0.8rem
        
        .positionTitle
            width: 35px
            font-weight: bold
        .playerName
            padding-left: 10px
            text-align: left
            span
                color: #3e3e3e
                font-size: 0.7rem

    .buttonWrapper
        // background: green
        padding: 10px
        display: flex
        justify-content: space-around
        width: 50%
        margin: auto

        button
            padding: 4px 10px
            border: none
            border-radius: 3px
            font-weight: bold
            font-size: 1rem

            &[type='submit']    
                background: var(--hover-green)
                

        .calibrateButton
            background: var(--primary)
            color: var(--secondary)

