.rosterWrapper
    background: green
    height: calc(100% - 10px)
    width: calc(100% - 10px)
    padding: 5px

    .positionSlot
        background: yellow
        display: flex
        flex-direction: row
        margin: 5px
        padding: 2px

        p
            margin: 0
            font-size:0.8rem