.wrapper
    display: grid
    grid-template-columns: 1fr 2fr
    height: 100%
    .tradeList
        // background: red
        border-right: 1px solid black
        table
            border-spacing: initial
            width: 100%
            thead
                background: var(--primary-light)
            tr
                text-align: center
                height: 30px
            .activeRow
                background: var(--background-main)
    .tradeDescription
        display: flex
        flex-direction: column
        background: #e2e2e2
        .tradeDetails
            background: var(--background-main)
            margin-bottom: 15px
            padding: 10px
            width: 95%
            margin: 10px auto
            h3
                margin: 0 0 10px
            table
                width: 65%
                border-spacing: initial
                text-align: center
            
                .playerName
                    text-align: start
                    width: 180px