.wrapper
    display: grid
    grid-template-columns: 1fr 3fr
    height: 100%
    .tradeList
        background: red
        table
            width: 100%
            tr
                text-align: center
    .tradeDescription
        background: green